@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>

<p>
    This site is part of our Software Engineering Capstone project for the Fall 2016 semester.<br />
    This site is used to deliver content to a client via a client application that is still in development. Many companies use desktop client applications for a variety of services. <br />
    A couple examples would be:<br />
    <ul>
        <li>Blizzard -- The Battle.net client application which is used to deliver updated game content and patches, account management, and news to subscribers.</li>
        <li>NVidia -- The GeForce Experience application which is used to deliver updated drivers and notifications of such, promotional news, and the ability to softly tweak graphics card settings for applications installed on the end user's system.</li>
    </ul>
</p>

<h3>What we want to accomplish</h3>
<p>
    The desktop application we are developing should have the following abilities:<br />
    <ul>
        <li>Provide the ability to access uploaded content that is stored at the server side</li>
        <li>Provide a chat system</li>
    </ul>
</p>
