@{
    ViewBag.Title = "Contact Us";
}

<h3>@ViewBag.Message</h3>



<address>
    <a href="mailto:jeffery.m.nicholas@gmail.com">Jeff Nicholas</a><br />
    <a href="mailto:ansari.addam@gmail.com">Addam Ansari</a><br />
    <a href="mailto:brodach@hotmail.com">Andrew Borodach</a><br />
</address>