@{
    ViewBag.Title = "JaaServ Web Solution";
}
<div class="jumbotron">
    <h1>JAAServ Web Solution</h1>
    <p class="lead"></p>
    <p>Please have a look around the site, although there isn't really much here. Our desktop client application is still in development at this time.</p>
</div>